.container{
    margin-left: auto;
    margin-right: auto;
}
body{
    background-color: #D9DDDC  ;
}
.content {
    background-color:  #EBF3F2  ;
    width: 600px;
    border: 25px solid beige;
    padding: 60px;
    margin-left: 25%;
    margin-right:50% ;
    margin-top: 170px;
    align-content: center;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 20px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}

label {
    display:block;
}

div{
    text-align:center;
}
