<!DOCTYPE html>
<html>

<head>
<title>Workshop Management System</title>
<link rel="stylesheet" href="../css/stylesheet.css" type="text/css">
</head>

<body>

<div id="topBar">
	<!-- <div id="searchBar">
		<label for="search">Search</label>
		<input type="text" name="search" title="Type any keyword to search the website" id="search" size="25">
	</div> 
	-->
	<div id="loginBar">
		<button>Login</button>
	</div>
</div>


<div id="header">
	<img src="../images/cmc_logo.png" id="logo">
	<h1 id="headingWMS">Workshop Management System</h1>
	<h1 id="headingCMCW">Colombo Municipal Council Workshop</h1>
	<div id="navbar">
	<ul>
		<li><a href="home.html">Home</a></li>
		<li><a href="maintenance.php">Maintenance</a></li>
		<li><a href="">Equipement</a></li>
		<li><a href="">Electrical</a></li>
		<li><a href="">Production</a></li>
		<li><a href="">About</a></li>
	</ul>
	</div>
</div>

<div id="imgdiv">
<img id="mainImage" src="../images/pic1.jpg">
<!-- <div id="picQuote">
	<p id="quoteHead">The Workshop Department</p>
	<p id="quoteBody">Provides registering, repair and maintainance works <br>for vehicles to provide a better service</p>
</div> -->
</div>

<div id="tabHolder">

	<div class="tab">
		<h3>Our Services</h3>
		<img class="tabIcon" src="../images/services.png">
		<p>This contains some text about the services that the
		workshop provides. Main activities of rhe workshop would
		be discussed in detail as the primary operations of the
		workshop resides on the services it provides. The services
		provides by the Cololmbo Municipal Council Workshop
		department could be broadly classified as four main service
		departments. The first one is the eng....</p>
		<button>Read More</button>
	</div>

	<div class="tab">
		<h3>Our Team</h3>
		<img class="tabIcon" src="../images/team.png">
		<p>This contains some text about the services that the
		workshop provides. Main activities of rhe workshop would
		be discussed in detail as the primary operations of the
		workshop resides on the services it provides. The services
		provides by the Cololmbo Municipal Council Workshop
		department could be broadly classified as four main service
		departments. The first one is the eng....</p>
		<button>Read More</button>
	</div>
	
	<div class="tab">
		<h3>News and Update</h3>
		<img class="tabIcon" src="../images/news.png">
		<p>This contains some text about the services that the
		workshop provides. Main activities of rhe workshop would
		be discussed in detail as the primary operations of the
		workshop resides on the services it provides. The services
		provides by the Cololmbo Municipal Council Workshop
		department could be broadly classified as four main service
		departments. The first one is the eng....</p>
		<button>Read More</button>
	</div>
</div>

<div class="footer">
	<p>Colombo Municipal Council Workshop</p>
	<p>Madampitiya Road, Colombo 10</p>
</div>

</body>
































</html>

